.container {
  display: flex;
}
.left{
  flex: 2;
}
.right {
  flex: 1;
  background-color: rgba(170, 87, 181, 0.22) !important;
  padding: 5%;
  margin-top: 0;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
