<table mat-table [dataSource]="datasourceReservation">
  <!-- Id pmr Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef>Rue du Pmr</th>
    <td mat-cell *matCellDef="let element">{{element.pmr.nom}}</td>
  </ng-container>

  <!-- id user Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Ville du Pmr</th>
    <td mat-cell *matCellDef="let element">{{element.pmr.description}}</td>
  </ng-container>

  <!-- Capacity Column -->
  <ng-container matColumnDef="reservation">
    <th mat-header-cell *matHeaderCellDef>Quantité réservée</th>
    <td mat-cell *matCellDef="let element">{{element.reservation}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onDetails(row)"
  ></tr>
</table>
