<div class="mat-elevation-z8">
  <mat-table [dataSource]="datasourcePmr" matSort matSortActive="description">
    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nom}}</mat-cell>
    </ng-container>

    <!-- Capacity Column -->
    <ng-container matColumnDef="quantite">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Capacity</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">{{element.quantite}}</mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
    </ng-container>

    <!-- Geo Point Column -->
    <ng-container matColumnDef="point_geo">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Geo Point</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element">{{element.point_geo}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="onDetails(row)"
    ></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  <button type="button" class="reservation" (click)="makeReservation()" >Faire une Réservation</button>
</div>
