/* Style global du formulaire */
form {
  background-color: #f9f9f9; /* Fond clair */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  max-width: 400px;
  margin: 0 auto; /* Centrer le formulaire */
  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 24px;
  color: #4b0082; /* Couleur violet foncé */
  text-align: center;
  margin-bottom: 20px;
}

form button {
  background-color: #55a84a; /* Couleur du bouton */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: red; /* Couleur du bouton au survol */
}

form button:active {
  background-color: red; /* Couleur du bouton lorsqu'il est cliqué */
}

form button:focus {
  outline: none; /* Retire la bordure de focus par défaut */
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Bouton pour basculer entre inscription et connexion */
form button.switch {
  background-color: transparent;
  color: #55a84a;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  border: none;
}

form button.switch:hover {
  text-decoration: underline;
}

/* Style du div contenant les boutons */
.buttons-container {
  display: flex;
  justify-content: space-between; /* Place les boutons aux extrémités du div */
  margin-top: 20px; /* Espacement entre le formulaire et les boutons */
}

/* Style pour chaque bouton */
.buttons-container button, .buttons-container div {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.buttons-container .left {
  background-color: #55a84a; /* Couleur du bouton de gauche */
  color: white;
  &:hover {
    background-color: #9eec94;
    color: #3e7836;
  }
}

.buttons-container .right {
  margin-left: 2%;
  background-color: #f3f3f3; /* Couleur du bouton de droite */
  color: #55a84a; /* Couleur du texte du bouton de droite */
  &:hover {
    background-color: #b5e8af;
    color: #44853c;
  }
}

#error, #validation {
  background-color: #ffe6e6; /* Fond rouge pâle pour signaler une erreur */
  color: #cc0000; /* Texte rouge sombre pour contraster */
  padding: 10px; /* Ajoute un peu d'espace à l'intérieur */
  border: 1px solid #cc0000; /* Bordure rouge sombre */
  border-radius: 5px; /* Angles arrondis */
  margin: 10px 0; /* Espacement autour de l'erreur */
  font-family: Arial, sans-serif; /* Police lisible */
}

#validation {
  color : #00cc00;
  background-color: #e6ffe6;
  border: 1px solid #00cc00;
}

#error p, #validation p {
  margin: 0; /* Supprime les marges par défaut */
  font-size: 14px; /* Taille de texte lisible */
  font-weight: bold; /* Met en valeur le message d'erreur */
  text-align: center; /* Centrer le texte */
}
