
  <form (ngSubmit) ="onSubmit($event)" id="form">
    <h1>{{ isSignUp ? 'Inscription' : 'Connexion' }}</h1>

    <app-champs message = "Nom d'utilisateur :" input_id = "username"
                regex="^[A-Za-z' -]{0,100}$"
                erreurMessage="Le nom d'utilisateur ne doit pas contenir de caractere speciaux ou accentué, et faire moins de 100 carcteres"></app-champs>
    <app-champs message = "Mot de passe :" input_id = "password" hide="true"
                regex="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,100}$"
                erreurMessage="Le mot de passe doit contenir : 1 lettre majuscule, 1 lettre minuscule, 1 symbole, 1 chiffre, entre 8 et 100 caracteres"></app-champs>

    <div *ngIf="isSignUp">
      <app-champs message = "Email :" input_id = "mail"
                  regex="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                  erreurMessage="Il ne s'agit pas d'une adresse mail valide"></app-champs>
      <app-champs message = "Nom :" input_id = "lastname"
                  regex="^[a-zA-Z'-]{1,100}$"
                  erreurMessage="Il ne s'agit pas d'un nom valide"></app-champs>
      <app-champs message = "Prenom :" input_id = "firstname"
                  regex="^[a-zA-Z'-]{1,100}$"
                  erreurMessage="Il ne s'agit pas d'un prenom valide"></app-champs>
    </div>

    <div id="error" *ngIf="error"><p>{{messageErreur}}</p></div>

    <div class="buttons-container">
      <button class="left" type="submit">{{ isSignUp ? 'S\'inscrire' : 'Se connecter' }}</button>
      <div class="right" (click)="onSwitchMode()">
        {{ isSignUp ? 'Déjà un compte ? Connectez-vous' : 'Pas encore inscrit ? Créez un compte' }}
      </div>
    </div>
  </form>
