/* Style global du formulaire */
form {
  background-color: #f9f9f9; /* Fond clair */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  max-width: 400px;
  margin: 0 auto; /* Centrer le formulaire */
  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 24px;
  color: #4b0082; /* Couleur violet foncé */
  text-align: center;
  margin-bottom: 20px;
}


form button:focus {
  outline: none; /* Retire la bordure de focus par défaut */
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


form button.switch:hover {
  text-decoration: underline;
}

/* Style du div contenant les boutons */
.buttons-container {
  display: flex;
  justify-content: center; /* Place les boutons aux extrémités du div */
  margin-top: 5%; /* Espacement entre le formulaire et les boutons */
}

/* Style pour chaque bouton */
.buttons-container button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.buttons-container .left {
  background-color: #55a84a; /* Couleur du bouton de gauche */
  color: white;
  &:hover {
    background-color: #9eec94;
    color: #3e7836;
  }
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#error, #validation {
  background-color: #ffe6e6; /* Fond rouge pâle pour signaler une erreur */
  color: #cc0000; /* Texte rouge sombre pour contraster */
  padding: 10px; /* Ajoute un peu d'espace à l'intérieur */
  border: 1px solid #cc0000; /* Bordure rouge sombre */
  border-radius: 5px; /* Angles arrondis */
  margin: 10px 0; /* Espacement autour de l'erreur */
  font-family: Arial, sans-serif; /* Police lisible */
}

#validation {
  color : #00cc00;
  background-color: #e6ffe6;
  border: 1px solid #00cc00;
}

#error p, #validation p {
  margin: 0; /* Supprime les marges par défaut */
  font-size: 14px; /* Taille de texte lisible */
  font-weight: bold; /* Met en valeur le message d'erreur */
  text-align: center; /* Centrer le texte */
}
