
<form (ngSubmit) ="onSubmit($event)" id="form">
  <h1 >{{ isModification ? 'Modifier une réservation' : 'Faire une réservation' }}</h1>

  <app-champs message = "Numéro de Pmr :" input_id = "pmr_id"
              regex="^[0-9]{0,5}$"
              erreurMessage="Le numéro de Pmr ne doit contenir que des chiffres , et faire moins de 5 carcteres"></app-champs>
  <app-champs message = "nom d'utilisateur pour la reservation :" input_id = "username"
              regex="^[A-Za-z' -]{0,100}$"
              erreurMessage="Le nom d'utilisateur ne doit pas contenir de caractere speciaux ou accentué, et faire moins de 100 carcteres"></app-champs>
  <app-champs message = "reservation nombre de place :" input_id = "reservation"
              regex="^[0-9]{0,1}$"
              erreurMessage="Il ne s'agit pas d'un nombre de place valide"></app-champs>

  <div id="error" *ngIf="error"><p>{{messageErreur}}</p></div>
  <div id="validation" *ngIf="validation"><p>{{messageSucces}}</p></div>

  <div class="buttons-container">

    <button class="left" type="submit">{{ isModification ? 'Modifier' : 'Réserver' }}</button>


    <button type="button" class="right" (click)="onSwitchMode()" >
      {{ isModification ?  'Pas encore de réservation ? Reservez un Pmr' : 'Un problème sur une reservation? Modifiez la' }}
    </button>

  </div>
</form>
