<div>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Id :</mat-label>
      <input matInput id="id" formControlName="id"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name :</mat-label>
      <input matInput id="name" formControlName="name"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>">Capacity :</mat-label>
      <input matInput id="capacity" formControlName="capacity"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description :</mat-label>
      <input matInput id="description" formControlName="description"/>
    </mat-form-field>

    <mat-label>GeoPoint :</mat-label>
    <mat-form-field>
      <input matInput id="geoPoint1" formControlName="geoPoint1"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="geoPoint2" formControlName="geoPoint2"/>
    </mat-form-field>
  </form>
</div>
