<h2>michel</h2>
<form [formGroup]="form">
  <div>
    <label for="id">Id :</label>
    <input id="id" formControlName="id"/>
  </div>

  <div>
    <label for="name">Name :</label>
    <input id="name" formControlName="name"/>
  </div>

  <div>
    <label for="capacity">Capacity :</label>
    <input id="capacity" formControlName="capacity"/>
  </div>

  <div>
    <label for="description">Description :</label>
    <input id="description" formControlName="description"/>
  </div>

  <div>
    <label for="geoPoint1">GeoPoint :</label>
    <input id="geoPoint1" formControlName="geoPoint1"/>
    <input id="geoPoint2" formControlName="geoPoint2"/>
  </div>
</form>
